<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>MY_AMAZON</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">&#9776;</button>
                    <a href="index.html">Amazon</a>
                </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Signin</a>
            </div>
        </header>
            <aside class="sidebar">
                <h3>Shoping Categories</h3>
                <button class="sidebar-close-button" onclick="closeSidebar()">x</button>
                <ul>
                    <li>
                        <a her="index.html">Pants</a>
                    </li>
                    <li>
                        <a her="index.html">Shirts</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                 <ul class="products">
                    <li class="product">
                    <img class= "product-image" src="images/short_1.jpeg" alt="product">
                    <div class="product-name"><a href="product.html">Shart</a></div>
                    <div class="product-brand">Nike</div>
                    <div class="product-price">$12</div>
                    <div class="product-rating">4.5 starts (10 Reviews)</div>
                    </li>
                    <li class="product">
                        <img class= "product-image" src="images/short_1.jpeg" alt="product">
                        <div class="product-name"><a href="product.html">Shart</a></div>
                        <div class="product-brand">Nike</div>
                        <div class="product-price">$12</div>
                        <div class="product-rating">4.5 starts (10 Reviews)</div>
                        </li>
                        <li class="product">
                            <img class= "product-image" src="images/short_1.jpeg" alt="product">
                            <div class="product-name"><a href="product.html">Shart</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$12</div>
                            <div class="product-rating">4.5 starts (10 Reviews)</div>
                            </li>

                            <li class="product">
                                <img class= "product-image" src="images/short_1.jpeg" alt="product">
                                <div class="product-name"><a href="product.html">Shart</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$12</div>
                                <div class="product-rating">4.5 starts (10 Reviews)</div>
                                </li>
                                <li class="product">
                                    <img class= "product-image" src="images/short_1.jpeg" alt="product">
                                    <div class="product-name"><a href="product.html">Shart</a></div>
                                    <div class="product-brand">Nike</div>
                                    <div class="product-price">$12</div>
                                    <div class="product-rating">4.5 starts (10 Reviews)</div>
                                    </li>
                                    <li class="product">
                    <img class= "product-image" src="images/short_1.jpeg" alt="product">
                    <div class="product-name"><a href="product.html">Shart</a></div>
                    <div class="product-brand">Nike</div>
                    <div class="product-price">$12</div>
                    <div class="product-rating">4.5 starts (10 Reviews)</div>
                    </li>
                    <li class="product">
                    <img class= "product-image" src="images/short_1.jpeg" alt="product">
                    <div class="product-name"><a href="product.html">Shart</a></div>
                    <div class="product-brand">Nike</div>
                    <div class="product-price">$12</div>
                    <div class="product-rating">4.5 starts (10 Reviews)</div>
                    </li>
                </ul>
            </div>
            </main>
            <footer class="footer">
                All rights received... 2020
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeSidebar(){
                document.querySelector(".sidebar").classList.remove("open");
            }
        </script>
    </body>
</html>