<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>MY_AMAZON</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">Amazon</a>
                </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Signin</a>
            </div>
        </header>
            <aside>
                Shoping Categories
            </aside>
            <main class="main">
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                </ul>
            </main>
            <footer class="footer">
                All rights received... 2020
            </footer>
        </div>
    </body>
</html>